# Godot 4+ specific ignores
.godot/
/android/
.import/
export/
*.tmp
*.import
*.log
*.translation
*.cfg
*.db
*.vs
*.exe
*.pck
*.zip
*.tar
*.rar
*.class
*.DS_Store
*.blend1
*.bak
*.swp

# Builds
*.aab
*.apk
Versions/

android/keystore/
*.keystore

